<html>
<head>
    <link href="<?= APP_ROOT ?>css/main.css" rel="stylesheet">
    <link href="<?= APP_ROOT ?>css/fontawesome/css/all.css" rel="stylesheet">
    <script src="<?= APP_ROOT ?>js/jquery.min.js"></script>


    <link href="<?= APP_ROOT ?>css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="<?= APP_ROOT ?>css/bootstrap/js/bootstrap.min.js"></script>

    <script src="<?= APP_ROOT ?>js/bootbox.all.min.js"></script>
    <script src="<?= APP_ROOT ?>js/scripts.js"></script>
    <script>
        var APP_ROOT = "<?=APP_ROOT?>";
    </script>
</head>
<body>
<main class="col-md-12">
    <header>
        <h1>Task list</h1>
    </header>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-1">
                            <button type="button" class="btn btn-success btnAddTask"><i class="fas fa-plus-square"></i> Add
                            </button>
                        </div>
                        <div class="col-md-10"></div>
                        <div class="col-md-1 text-right">
                            <?php if (!$this->logged_user): ?>
                                <button type="button" class="btn btn-info btnLogin"><i class="fas fa-user"></i> Login</button>
                            <?php else: ?>
                                <button type="button" class="btn btn-warning btnLogout"><i class="fas fa-sign-out-alt"></i>
                                    Logout
                                </button>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">

                <div class="col-md-12">
                    <table class="table table-striped task_table">
                        <thead>
                        <tr>
                            <th width="10%">
                                <a href="<?= APP_ROOT ?>?sort=user_name<?= (($this->sort_direction === 'asc' and $this->sort == 'user_name') ? '&sort_direction=desc' : '') ?>">User
                                    <?= ($this->sort == 'user_name' ? '<i class="fas fa-sort-' . ($this->sort_direction === 'asc' ? 'up' : 'down') . '"></i>' : '') ?></a>
                            </th>
                            <th width="10%">
                                <a href="<?= APP_ROOT ?>?sort=email<?= (($this->sort_direction === 'asc' and $this->sort == 'email') ? '&sort_direction=desc' : '') ?>">Email
                                    <?= ($this->sort == 'email' ? '<i class="fas fa-sort-' . ($this->sort_direction === 'asc' ? 'up' : 'down') . '"></i>' : '') ?></a>
                            </th>
                            <th width="10%">
                                <a href="<?= APP_ROOT ?>?sort=status_name<?= (($this->sort_direction === 'asc' and $this->sort == 'status_name') ? '&sort_direction=desc' : '') ?>">Status
                                    <?= ($this->sort == 'status_name' ? '<i class="fas fa-sort-' . ($this->sort_direction === 'asc' ? 'up' : 'down') . '"></i>' : '') ?></a>
                            </th>
                            <th width="50%">Task</th>
                            <th width="20%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        foreach ($this->TaskItems as $item):
                            ?>
                            <tr>
                                <td><?= $item['user_name'] ?></td>
                                <td><?= $item['email'] ?></td>
                                <td><?= $item['status_name'] ?></td>
                                <td><?= $item['task_text'] ?></td>
                                <td>
                                    <?php if ($this->logged_user): ?>
                                        <button type="button" class="btn btn-warning btnEditTask"
                                                data-item_id="<?= $item['id'] ?>"><i class="fas fa-pen-square"></i> Edit
                                        </button>
                                    <?php endif; ?>
                                    <?php
                                       if(!empty($item['date_modify'])):
                                    ?>
                                           <div><i>Edited by admin at <?= $item['date_modify'] ?></i></div>

                                     <?php endif; ?>


                                </td>
                            </tr>
                        <?php
                        endforeach;
                        ?>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination">
                        <?php if ($this->paginator->getPrevUrl()): ?>
                            <li class="page-item"><a class="page-link"
                                                     href="<?php echo $this->paginator->getPrevUrl(); ?>">&laquo;
                                    Previous</a></li>
                        <?php endif; ?>

                        <?php foreach ($this->paginator->getPages() as $page): ?>
                            <?php if ($page['url']): ?>
                                <li class="page-item <?php echo $page['isCurrent'] ? ' active' : ''; ?>">
                                    <a href="<?php echo $page['url']; ?>"
                                       class="page-link"><?php echo $page['num']; ?></a>
                                </li>
                            <?php else: ?>
                                <li class="page-item"><a href="#" class="page-link"><?php echo $page['num']; ?></a></li>
                            <?php endif; ?>
                        <?php endforeach; ?>

                        <?php if ($this->paginator->getNextUrl()): ?>
                            <li class="page-item"><a href="<?php echo $this->paginator->getNextUrl(); ?>"
                                                     class="page-link">Next &raquo;</a></li>
                        <?php endif; ?>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-1"></div>

    </div>
</main>

</body>
</html>