<h2>Login</h2>


<form class="frmLogin">
    <div class="text-danger msgError"></div>
    <div class="form-group">
        <label for="input-user_login">Login</label>
        <input type="text" name="user_login" class="form-control" id="input-user_login">

    </div>
    <div class="form-group">
        <label for="input_user_pass">Password</label>
        <input type="password" name="user_pass" class="form-control" id="input-user_pass">
    </div>

</form>