<h2>Task</h2>


<form class="frmTask">
    <input type="hidden" value="<?= ($this->task_info ? $this->task_info['id'] : '') ?>" name="id">
    <div class="text-danger msgError"></div>
    <div class="form-group">
        <label for="input-user_name">Name</label>
        <input type="text" name="user_name" class="form-control" id="input-user_name" placeholder="Enter name"
               aria-describedby="nameHelp" value="<?= ($this->task_info ? $this->task_info['user_name'] : '') ?>">
        <small id="nameHelp" class="form-text text-muted">Please type name and surname</small>
    </div>
    <div class="form-group">
        <label for="input_email">Email address</label>
        <input type="email" name="email" class="form-control" id="input-email" aria-describedby="emailHelp"
               placeholder="Enter email" value="<?= ($this->task_info ? $this->task_info['email'] : '') ?>">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="input_task_text">Description</label>
        <textarea name="task_text" class="form-control" id="input-task_text" aria-describedby="task_textHelp"
                  placeholder=""><?= ($this->task_info ? $this->task_info['task_text'] : '') ?></textarea>

    </div>
    <div class="form-group">
        <label for="input_status_id">Status</label>
        <select class="form-control" id="input_status_id" name="status_id">
            <?php
            foreach ($this->statuses_list as $item):
                ?>
                <option value="<?= $item['id'] ?>" <?= (($this->task_info and $this->task_info['status_id'] == $item['id']) ? 'selected' : '') ?>><?= $item['status_name'] ?></option>
            <?php
            endforeach;
            ?>
        </select>
    </div>
</form>